
.idea/
*.iws
*.iml
*.ipr
.project
.classpath
.settings/
.vscode/


/target/
/build/
*.class


*.jar
*.war
*.ear
*.zip
*.tar.gz


# Logs
*.log
log/
temp/
/tmp/


.DS_Store
Thumbs.db


/m2/repository/
/m3/repository/
/gradle/wrapper/
.gradle/
!/gradle/wrapper/gradle-wrapper.jar # IMPORTANT : Laisser ce fichier (jar) pour la reproductibilité


application-local.properties
application-dev.properties
application-test.properties


*.key
*.pem
*.p12


/test-output/


/jacoco/